USER_ADDRESS=0xYourTargetWalletAddress
PROXY_WALLET=0xYourProxyWalletAddress
PRIVATE_KEY=25323cacf8771b3487faaf8a95686d1573b8d44aca45cc9995987a1c27559031 //private_key of PROXY_WALLET
CLOB_HTTP_URL=https://clob.polymarket.com
CLOB_WS_URL=wss://clob-ws.polymarket.com
MONGO_URI=mongodb://localhost:27017/polymarket_trading
RPC_URL=https://polygon-rpc.com
USDC_CONTRACT_ADDRESS=0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174
FETCH_INTERVAL=1
TOO_OLD_TIMESTAMP=24
RETRY_LIMIT=3